body
{
    background-color:#ecd4b6;
}
input
{
    margin: 10px;
}
.webpage
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pageHeader
{
    flex: 2;
    margin: 10px;
    border-bottom-style: solid;
    border-color: black;
}
.title
{
    text-align: center;
}
.howTo
{
    margin: 10px;
}
.centerPage
{
    flex: 7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.currentImage
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.buttons
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.checkboxes
{
    display: flex;
    align-items: center;
}
.checkbox
{
    margin: 0px;
    margin-right: 5px;
}
.Results
{
    display: flex;
    flex-direction: column;
}
.scrollableResults
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.bottomPage
{
    flex: 1;
}